h1 {
    color: #a52a2a
}

/* * {
    border: solid;
} */

.header{
    background-color: #d0ff00;
    display: flex;
    justify-content: space-between;
    padding: 15px;
        font-size:20px;
        font-family:sans-serif;
        font-weight:400;
    color:#ffffff;
   }
body{
    margin:0px;
    background-color:#f7f2f2;
}
.grid img{
border:2px solid #000000;
    border-radius:50px;
}
.item {
border-radius:20px;
    background-color: #ffffff;
    padding: 30px;
    margin: 25px;
    width:310px;
    font-family:fantasy;
}

.grid{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
   background-color: #242431; 
}
.footer {
    display:flex;
    justify-content: flex-end;
    background-color: #ff00bf;
}
